.param-object {
    display: flex;
    align-items: center;
    line-height: 22px;
}

.param-object.status::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: 8px;
}

@keyframes logo-animation {
    0% {
      transform: rotate(90deg);
    }
    33% {
      transform: rotate(180deg);
    }
    67% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animation-logo {
    border-radius: 0% 0% 50% 50%;
    border-style: solid;
    border-color: var(--desktop-ios-dark-grey, #24282C);
    border-width: 3px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    animation: logo-animation 0.3s ease infinite;
  }