* {
  box-sizing: border-box;
  font-family: 'Avenir Next Cyr', sans-serif;
  font-style: normal;
}

body {
  background: #F7F6F0;
  color: #24282C;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 50px 38px;
}

a {
  text-decoration: none;
  color: #24282C;
}

p {
  margin: 0%;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.name-page {
  font-weight: 700;
  font-size: 34px;
  line-height: 24px;
}

.active-page {
  color: #AEC756;
}

.logo {
  display: flex;
  align-items: center
}

.navs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.a-header,
.a-action-post {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  line-height: inherit;
}

.a-action-post:first-child {
  margin-right: 32px;
}

.a-header {
  display: flex;
  align-items: center;
}

.a-img {
  margin-right: 16px;
}

#icon-activity {
  height: 10px;
}

.btns-circle-icon {
  display: flex;
  gap: 16px;
}

.a-circle-icon {
  cursor: pointer;
}

.main {
  min-height: calc(100vh - 50px);
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.main.initial {
  max-width: 1315px;
  margin-bottom: 82px;
}

button {
  cursor: pointer;
}


.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.buttons.activity {
  padding: 0;
}

.buttons.element {
  padding-bottom: 16px;
  padding-top: 32px;
  gap: 16px;
}



.btn,
.btn-activity,
.btn-profile {
  min-width: 160px;
  background: #D3F36B;
  border-radius: 25px;
  padding: 14px 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.links-width {
  width: 48%;
}

.btn-activity,
.btn-profile {
  width: 100%;
  border: none;
}


.btn.active,
.btn-activity.active,
.btn-profile.active {
  background: #24282C;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

.icon-btn,
.icon-margin {
  margin-right: 9px;
}

.search {
  background: #ffff;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  align-items: center;
  padding: 10px;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 38px;
}

.input.settings {
  border: none;
  margin-top: 8px;
  padding: 16px;
  width: 422px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 25px;
}

.input.settings:placeholder-shown {
  text-align: start;
}

.cirlce-img {
  width: 50px;
  height: 50px;
}

.setting-icon:first-child {
  width: 18px;
  height: 15px;
}

.setting-icon:last-child {
  width: 22px;
  height: 18px;
}

.search-field {
  width: 85%;
  margin-left: 35px;
  border: 0;
}

.search-field:focus {
  outline: none;
}

::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: rgba(60, 60, 67, 0.6);
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.dropdown {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.dropdown-content {
  width: 410px;
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
  box-shadow: 0px 10px 24px 0px rgba(19, 32, 102, 0.15);
}

.sorting {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.sorting-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.part-label {
  color: var(--desktop-ios-grey, rgba(60, 60, 67, 0.60));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.part-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.single-button.setting-button {
  width: 100%;
  margin: 0;
}

.modal-parameter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.label-parameter {
  color: var(--desktop-ios-dark-grey, #24282C);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}

.search-parameter {
  display: flex;
  height: 35px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 7px;
  border: 0.5px solid var(--desktop-ios-separator-grey, #C4C4C4);
  background: var(--desktop-ios-white, #FFF);
}

.parameter-reports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}


.button-text {
  background-color: #F7F6F0;
  margin: 35px 0px;
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.button-text.more {
  margin: 35px auto;
}

.button-text.active {
  color: #AEC756;
}

.cards.marks {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 292px);
  grid-template-rows: 388px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.cards.marks.routes,
.cards.marks.sortPoints {
  grid-template-rows: 450px;
}

.cards.marks.events {
  grid-template-rows: 490px;
}

.status-event {
  cursor: default;
  height: 36px;
  padding: 10px 32px;
  border-radius: 25px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.status-event.object-event {
  background-color: rgb(211, 243, 107);
  margin: 0;
}

.card {
  border-radius: 25px;
}

.card.review,
.card.profile-user {
  width: 100%;
  display: grid;
  grid-template-columns: 375px 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 32px;
}

.card.profile-user {
  grid-template-columns: 350px 1fr;
}

.card.activity,
.card.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  height: 686px;
  gap: 32px;
  background: #FFFFFF;
  border-radius: 25px;
  margin-bottom: 32px;
}

.card.marks {
  display: grid;
}

.card-child,
.card-content-wrapping,
.card-header {
  border-radius: 25px;
  background-color: #ffff;
  border: none;
}

.card-content {
  margin-left: -7%;
  overflow: hidden;
}

.card-content.review {
  width: 590px;
  height: 350px;
}

.card-content.activity,
.card-content.profile {
  margin: 0;
}

.card-content.marks {
  margin: 0;
  margin-top: -20%;

}

.card-content-wrapping {
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.card-content-wrapping.marks {
  padding: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: normal;
}


.card-header.activity,
.card-header.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.element-card {
  font-weight: 600;
  font-size: 22px;
  line-height: 13px;
}

.element-card>div {
  margin-top: 16px;
}



.user-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 18px;
}

.user-info {
  font-weight: 600;
  font-size: 22px;
  line-height: 13px;
}


.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 16px;
}

.date-report {
  color: rgba(60, 60, 67, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}

.coordinates {
  width: 100%;
}

.card-imgs {
  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;
}

.card-img {
  width: 375px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-img.activity,
.card-img.profile,
.small-card-img {
  width: 190px;
  height: 190px;
  border-radius: 25px;
}

.card-img.marks {
  width: 292px;
  height: 317px;
}


.card-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.card-adress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-name {
  cursor: pointer;
  width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 16px;
}

.card-name:hover {
  color: #D3F36B
}

.card-name.profile {
  font-weight: 900;
  font-size: 34px;
  line-height: 24px;
}

.card-nameId {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}

.card-name.element {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

.card-desc {
  margin: 10px 0;
  line-height: 19px;
  font-size: 14px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  text-align: justify;
}

.card-desc.element {
  margin: 32px 0px;
}

.card-rating {
  display: flex;
  align-items: center;
}

.card-rating.profile {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  gap: 16px;
  margin-right: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  display: flex;
  align-items: center;
}

.rating.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.rating.profile *>img {
  margin-right: 16px;
}

.user-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.about-user {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.about-user>div {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.statistics {
  display: flex;
  gap: 32px
}

.statistics-card {
  padding: 32px;
  background: #FFFFFF;
  border-radius: 25px;
  width: 454px;
  font-weight: 600;
  font-size: 22px;
  line-height: 13px;
}

.collected-trash {
  height: 489px;
}

.object-counter {
  height: 357px;
  margin-bottom: 32px;
}

/* .activity {
  height: 291px;
} */

.settings-personal {
  display: flex;
  gap: 32px;
  font-weight: 600;
  font-size: 22px;
  line-height: 13px;
}

.personal-info,
.login-options {
  gap: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-info>div,
.login-options>div {
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
}

.personal-info>div:first-child,
.login-options>div:first-child {
  margin-top: 16px;
}

.login-options>div:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.personal-dob>input {
  text-align: center;
}

.personal-phone>input {
  width: 48%;
}

.personal-sex {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form_toggle {
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #FFFFFF;
  border-radius: 27px;
  width: 422px;
  height: 50px;
}

.form_toggle-item {
  display: flex;
  width: 50%;
  height: 100%;
}

.form_toggle-item input[type=radio] {
  display: none;
}

.form_toggle-item label {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24282C;
  justify-content: center;
  width: 100%;
}

/* Checked */
.form_toggle input[type=radio]:checked+label {
  color: #FFFFFF;
  background: #24282C;
  border-radius: 27px;
}

.form_toggle.report-toggle {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.password-wrapping {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.password-control {
  width: 20px;
  height: 20px;
  background: url("../assets/imgs/visible_password.png") 0 0 no-repeat;
  background-size: 18px 11px;
  order: 1;
  display: flex;
}

.password-control.setting-password {

  margin-left: -42px;
  margin-bottom: -18px;
}

.password-control.view {
  background: url("../assets/imgs/status.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  background-size: 18px 11px;
  order: 1;
  display: flex;
}

.password-control.setting-password.view {

  margin-left: -42px;
  margin-bottom: -18px;
}

.single-button {
  padding: 16px 32px;

  height: 50px;

  background: #24282C;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;
  margin: 32px auto 0px;
  justify-content: center;
}

.section.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
}

.about {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 64px;
  width: 1056px;
  height: 345px;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  background: #FFFFFF;
  border-radius: 25px;
  font-weight: 700;
  font-size: 34px;
  line-height: 24px;
}

.about-text>p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}


.about-text.project {
  align-items: flex-end;
}

.footer {
  padding: 32px 128px;

  background-color: #24282C;
}

.footer-wripping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-version,
.block {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.block {
  gap: 10px;
}

.info-version>p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}



.footer-links {
  display: flex;
  gap: 40px;
}

.footer-link {
  color: #ffff;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;

}

.footer-link:first-child {
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 20px;
}

.info-version>p:last-child {
  margin: 0;
}



.parameters {
  padding-top: 16px;
  display: flex;
}

.parameters>div {
  display: flex;
  align-items: center;
}

.parameters>div:first-child {
  margin-right: 30px;
}

.coordinate {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}


.coordinate:last-child {
  padding-bottom: 0px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.object {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider {
  display: grid;
}

.object-img {
  width: 940px;
  height: 470px;
  border-radius: 25px;
}

.object-content {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.object-name {
  padding: 32px;
  border-radius: 25px;
  background: white;
  margin-top: -7%;
  font-size: 34px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.object-name>div {

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.object-desc,
.object-events,
.object-sortPoints {
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 32px;
  border-radius: 25px;
  background: white;
  text-align: justify;
  font-size: 14px;
}

.content-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.content-part.left {
  flex: 1 0 0;
}

.content-part.right {
  width: 328px;
}

.small-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.event-small-card,
.sortPoint-small-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.parameters-object {
  display: flex;
  align-items: flex-start;
  gap: 16px;

}

.parameters.object-event {
  display: flex;
  align-items: center;
  gap: 16px;
}

.parameters.object-event,
.parameters.object-sorPoint>div {
  margin: 0;
}

.parameter-object {
  display: flex;
  align-items: center;
  line-height: 22px;
}

.parameter-object.status::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #D3F36B;
  margin-right: 8px;
}

.parameter.date {
  margin-right: 8px;
}

.object-coordinates {
  display: grid;
}

.map-object-img {
  width: 328px;
  height: 353px;
  border-radius: 25px 25px 0px 0px;
}

.object-coordinates-info {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin-top: -7%;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
}

.object-coordinates-info.object-route {
  margin: 0;
}

.parameters.object-event,
.parameters.object-route,
.parameters.object-sortPoint {
  padding: 0;
}

.adding {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 25px;
  background: var(--desktop-ios-dark-grey, #24282C);
  color: var(--desktop-ios-white, #FFF);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.object-points {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
}

.list-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.rate {
  display: flex;
  align-items: center;
  gap: 16px;
}

.object-reports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.object-report-card {
  display: flex;
  width: 940px;
  height: 686px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
}

.object-report-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.object-report-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.object-report-user-info {
  display: flex;
  width: 876px;
  align-items: center;
  gap: 32px;
}

.object-report-user-img-name {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  color: var(--desktop-ios-dark-grey, #24282C);
  text-align: justify;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
}

.date-and-time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.report-result {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.result-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.object-result-imgs {
  display: flex;
  width: 876px;
  justify-content: space-between;
  align-items: flex-start;
}

.object-result-imgs>img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
}

.object-result-desc {
  width: 876px;
  text-align: justify;
  text-overflow: ellipsis;
  font-size: 14px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
}

.report {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}

.report-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.report-content-part {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
  width: 580px;
}

.report-imgs {
  display: flex;
  gap: 32px;
  flex-wrap: wrap
}

.report-img {
  width: 242px;
  height: 242px;
}

.login,
.signup {
  display: inline-flex;
  padding: 32px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.login {
  padding: 32px 25%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.active-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.wrap-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.inputs-signup {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: row;
}



.bloc-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.single-button.signup-button-photo {
  margin: 0 auto;
  width: 100%;
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-control.login-password {
  margin-left: -25px;
  margin-bottom: -22px;
}

.password-label-wrapping {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.password-control-wrapping-login {
  cursor: pointer;
  border: none;
  background: none;
}

.newReport {
  display: flex;
  width: 940px;
  padding: 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.info-newReport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.info-newReport * {
  width: 100%;
}



.cleaning-place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

}

.input.settings.report-input {
  width: 100%;
}

input[type=date] {

  margin-top: 8px;
  padding: 16px;
  width: 422px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: 0;


  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }

  &::-webkit-inner-spin-button {
    height: 30px;
  }

  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    color: #24282C;
    background: transparent;


    &:hover {
      background-color: lighten(#2f2f2f, 40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }

    &:active {
      color: blue;
    }
  }
}

.sortPoints-object-label-wrapping {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.sortPoints-object-add {
  border: none;
  display: flex;
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  justify-content: flex-end;
}

.photo-newReport,
.desc-newReport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  padding: 15px 16px 0px 16px;
  border-radius: 25px;
  border: none;
}

.newReport-wrapping {
  width: 100%;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 25px;
  background: var(--desktop-ios-white, #FFF);
}

.raiting-newReport-label-wrapping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.raiting-newReport-points,
.star-newReport-points {
  width: 100%;
}

.input-number {
  display: flex;
  width: 70px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  border: 0.5px solid var(--desktop-ios-separator-grey, #C4C4C4);
  background: var(--desktop-ios-white, #FFF);
}

.input-number-wrapping {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons-newReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.newReport-publish {
  display: flex;
  height: 50px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  opacity: 0.699999988079071;
  background: var(--desktop-ios-dark-grey, #24282C);
  color: var(--desktop-ios-separator-grey, #C4C4C4);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.save-draft {
  color: var(--desktop-ios-dark-grey, #24282C);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}














@media (max-width: 1366px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 578px) {}

@media (max-width: 480px) {}